body{
    margin: 0;
    padding: 0;
    background-color: rgb(36, 36, 36);
}
*{
    font-family: 'Press Start 2P', cursive; 
}
 
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.again{
    background-color: white;
    color: black;
    padding: 16px 32px;
    font-size: 25px;
    cursor: pointer;
    border: none;
}

input{
    margin-right: 8px;
}

.title{
    font-size: 56px;
    text-align: center;
    margin-bottom: 120px;
}

.article{
    border-bottom: 6px solid white;
}

.q-mark{
    font-size: 72px;
    color: black;
    background-color: white;
    display: inline-block;
    padding: 16px 28px;
    padding-left: 36px;
    margin-top: 66px;
    margin-top: -55px;
    position: absolute;
    left: 45%;
}

.input{
    display: inline-block;
    width: 160px;
    padding: 12px 10px;
    background: none;
    border: 6px solid white;
    color: white;
    font-size: 56px;
    text-align: center;
}

.checker{
    width: 120px;
    padding: 16px;
    background-color: white;
    cursor: pointer;
    font-size: 16px;
    border: none;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    /* margin-right: 600px; */
}
